/*Colors and fonts*/
body {
 background: #EBF3E8;
 color:#35374B ;
  font-family: "Fira Sans", sans-serif;
  font-weight: lighter;
  font-size: 17px;

}

h1, h2, h3{
  font-family:"Fira Sans", sans-serif ;
} 
h1 {
	color:#5C8374 ;
    font-weight: 700;
    font size: 32px;
}
h2 {
	color:#9EC8B9 ;
  font-family: "Fira Sans", sans-serif;
  font-weight: 600;
  font-weight:lighter;
  font-size: 20px;
}
a{
	text-decoration: none;
	color:#5C8374;
	font-weight: bold;
	font-size:17px;
transition: color 0.3s ease;
}
a:hover {
	color:#35374B;
}

/*Let's use div*/

.container {
  width: 700px; 
  margin: 40px auto; 
}
@media (max-width: 760px) {
  .container {
    width: 500px;
  }
}
@media (max-width: 500px) {
  .container {
    width: 350px;
  }
}
@media (max-width: 400px) {
  .container {
    width: 300px;
  }
}


.card-white {
	background-color: white;
	padding: 40px;
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
	margin: 20px 0px;
	text-align: center;

}
.img-circle {
	border-radius: 50%;
}
.btn-green {
	background-color:#5C8374 ;
	color: white;
	padding: 15px 20px;
	border-radius: 8px;
}
.btn-green:hover {
	background-color:#35374B ;
	color: white;
}
.list-inline {
	list-style: none;
	padding-left: 0px;
}
.list-inline li {
	display: inline;
	padding: 20px;
}
.list-inline i {
	font-size: 45px;
	color:#5C8374;
}
.list-inline i:hover {
	color: #35374B;
}

#introduction p{
	margin-bottom: 40px;
}